.contact-form {
	text-align: center;
	padding: 50px 0;
}

.contact-form form {
	max-width: 600px;
	margin: auto;
	padding: 50px 70px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	box-shadow: 0px 2px 10px #273041;
	margin-bottom: 50px;
	background-color: #1d293a;
}

.contact-form .item {
	width: 400px;
	border-radius: 20px;
	margin-bottom: 25px;
	padding: 10px 20px;
	
}

.contact-form form textarea {
	height: 200px;
	
}

.contact-form label {
	display: block;
	text-align: center;
	line-height: 150%;
	font-size: 1em;
	padding: 10px;
	
}
.sending{
	  display: block;
    margin-block-start: 1em;
    margin-block-end: 2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
		
}

@media (max-width: 600px) {
	.contact-form .item {
		width: 250px;
	}
	.contact-form form {
		padding: 50px 20px;
	}
}
